* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;

    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: white;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.container p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 25px;

    border: none;
    border-radius: 5px;

    background-color: red;
    color: white;

    font-size: 16px;

    cursor: pointer;
}

.btn:hover {
    background-color: darkred;
}


/* Video Popup */

.trailer-container {
    display: none;

    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 700px;

    padding: 20px;

    background-color: black;

    border-radius: 10px;

    text-align: center;
}

.trailer-container video {
    width: 100%;
}

.close-btn {
    margin-top: 15px;

    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    background-color: red;
    color: white;

    cursor: pointer;
}

.close-btn:hover {
    background-color: darkred;
}